header {
  height: 100px;
}

body {
  line-height: 1.5;
  margin-top: 0px;
}

h1 {
  background-color: #00c4ba;
  text-align: center; /* Position of h1 */
  font-weight: bold; /* Font is bold */
  color: rgb(0, 91, 128); /* Light blue text color */
  font-size: 64px; /* Size of text */
  margin-top: 0px; /* Top margin value for h1 */
  padding: 4px 4px; 
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #00c4ba;
  color: white;
}


.right {
  text-align: right;
  float: right;
  padding: 0px;
  margin: 0px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 100%;
  background-color: #00c4ba;
  color: rgb(0, 0, 0);
  font-size: 35px;
  text-align: center;
}
